/* styles.css */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  }


body {
    font-family: Poppins, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

/*Splash*/
.splashImgContainer {
  position: relative;
  width: 100%;
  height: 75%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEE;
  text-align: center;
  border-radius: 0 0 50px 50px;
}

.splashImgContainer img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  
}

.continueContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  height: 25%;
}

.continueContainer a {
  padding: 10px 40px;
  background: linear-gradient(to right, #9866AB, #6366AE);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.continueContainer img {
  vertical-align: middle; /* Adjust the vertical alignment as needed */
  margin-left: 10px; /* Add some space between text and arrow */
}

/*Start*/
.startDescriptionContainer {
  position: relative;
  width: 100%;
  height: 65%;
  overflow: hidden;
  background-color: #683E78;
  color: #fff;
  border-radius: 0 0 50px 50px;
}

.startDescriptionContainer h1{
  margin-left: 45px;
  font-size: 60px;
}

.startDescriptionContainer p{
  margin-left: 45px;
  margin-top: -18px;
  font-size: 24px;
}

.loginRegButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35%;
}

.loginRegButtonContainer p{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6e6e6e;
}

.loginRegButtonContainer a {
  width: 200px;
  text-align: center;
  padding: 6px 40px;
  background: linear-gradient(to left, #9866AB, #6366AE);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Styles common to login and registration pages */
body.loginRegPages {
  font-family: Poppins, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: row; /* Set flex direction to row */
  align-items: left; /* Align items to the start (left) of the container */
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #9866AB, #6366AE);
}

/*Login*/ 
.loginContainer {
  position: relative;
  width: 40%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  color: #6365aeb4;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column; 
  padding-left: 30px;
}

.loginContainer h2{
  color: #6365ae;
  font-size: 30px;
}

.loginRegForm {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.loginRegForm label {
  font-weight: bold;
  font-size: 14px;
}

.loginRegForm input {
  padding: 8px;
  margin-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-sizing: border-box;
}

.loginRegForm a {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #6F6D6D;
}

.loginRegForm p{
  margin-left: 131px;
  color: #6e6e6e;
  margin-bottom: 8px
}

.loginRegForm .socialAuthText {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 34px;
  margin-bottom: 15px;
}

/* Style for the lines on either side */
.loginRegForm .socialAuthText::before,
.loginRegForm .socialAuthText::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #ccc; /* Adjust the line color as needed */
  max-width: 45px;
  margin: 0 8px;
}

/* Optional: Adjust the styling of the text */
.loginRegForm .socialAuthText span {
  font-size: 14px; /* Adjust the font size as needed */
  color: #555; /* Adjust the text color as needed */
}

.socialAuth {
  display: flex;
  width: 250px;
  margin-left: 56px;
  margin-bottom: 30px;
}

.socialAuth .socialButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

/* Style for the circular shape */
.socialAuth .socialButton img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%;
  padding: 8px; /* Adjust the padding as needed */
  background-color: #eee; /* Background color for the circular area */
  transition: background-color 0.3s ease; /* Add a transition effect */
}

/* Change the background color on hover */
.socialAuth .socialButton:hover img {
  background-color: #ddd; /* Adjust the hover background color as needed */
}

.loginRegForm .submitButton {
  margin-left: 20px;
  background: linear-gradient(to right, #9866AB, #6366AE);
  color: #fff;
  font-family: Poppins;
  text-decoration: none;
  border: none;
  padding: 6px 40px;
  border-radius: 8px;
  cursor: pointer;
  width: 250px;
}

.loginRegForm .sendToRegistration {
  margin-left: 32px;
}

/* Registration */
.registrationContainer {
  position: relative;
  width: 55%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  color: #6365aeb4;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column; 
  padding-left: 30px;
}

.usernameEmailFormContainer{
  display: flex;
  flex-direction: row;
}

.loginRegForm .formGroup input {
  display: flex;
  flex-direction: column;
}

.loginRegForm .formGroup input {
  margin-right: 15px;
  max-width: 225px;
}

.registrationContainer p {
  margin-left: 200px;
}

.registrationContainer .socialAuth {
  margin-left: 125px;
}

.registrationContainer .socialAuthText {
  margin-left: 100px;
}

.registrationContainer .submitButton {
  margin-left: 85px;

}.registrationContainer .sendToRegistration {
  margin-left: 95px;
}

/* Main user UI */
body.mainPagesBody {
  display: flex;
  flex-direction: row;
  
  .navbar {
    background-color: #493E6A;
    color: #fff;
    padding: 8px;
    height: 97.5vh;
    max-width: 50px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .navbar a img {
    margin-right: 10px;
    width: 30px; 
    height: 30px; 
    padding: 10px;
  }
  
  .navbar a.current {
    border: 2px solid #fff;
    padding: 8px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background: rgba(141, 141, 141, 0.473); 
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #settingsIcon {
    margin-top: 450px;
  }  
}

/* Home page */
.content {
  padding: 20px;
} 

.homePageContainer {
  display: flex;
  flex-direction: column;
}

.homePageContainer h1 {
  text-align: center;
  margin-top: -20px;
  color: #6366AE;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

/* Equaliser */
.component {
  margin-top: 10px;
  position: relative;
  color: white;
  background-image: linear-gradient(to right, #9184B9, #9184b9c4);
  border-radius: 25px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
  min-width: 280px;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
  display: block;
  padding-top: 10px;
}

.component .sliders {
  position: relative;
  display: inline-block;
  position: relative;
}

.halfwayLine {
  position: absolute;
  width: 90%;
  top: 47.78%;
  left: 5%;
  border-radius: 5px;
  border-top: 8px solid #676060;
  pointer-events: none;
}

.component .sliders .range-slider {
  margin-top: 20px;
  display: inline-block;
  width: 40px;
  position: relative;
  height: 300px;
  float: left;
}
@media (min-width: 800px) {
  .component .sliders .range-slider {
    width: 80px;
  }
}
.component .sliders .range-slider::after {
  position: absolute;
  bottom: -24px;
  left: calc(50% - 2em);
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  content: "32";
  width: 4em;
  text-align: center;
}
.component .sliders .range-slider:nth-child(2)::after {
  content: "32Hz";
}
.component .sliders .range-slider:nth-child(3)::after {
  content: "64Hz";
}
.component .sliders .range-slider:nth-child(4)::after {
  content: "128Hz";
}
.component .sliders .range-slider:nth-child(5)::after {
  content: "256Hz";
}
.component .sliders .range-slider:nth-child(6)::after {
  content: "512Hz";
}
.component .sliders .range-slider:nth-child(7)::after {
  content: "1kHz";
}
.component .sliders .range-slider:nth-child(8)::after {
  content: "2kHz";
}
.component .sliders .range-slider__thumb {
  opacity: 1;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: white;
  text-align: center;
  font-size: 40%;
  box-shadow: 0 0 2px #373641;
  border-radius: 50%;
  pointer-events: none;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 800px) {
  .component .sliders .range-slider__thumb {
    left: 30px;
  }
}

/* Fill colour for silders */
.component .sliders .range-slider__bar {
  display: none;
}
@media (min-width: 800px) {
  .component .sliders .range-slider__bar {
    left: 38px;
  }
}
.component .sliders .range-slider input[type=range][orient=vertical] {
  cursor: pointer;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
}

.component .sliders .range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track {
  border: none;
  background: #343440;
  width: 4px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #3D3D4A;
}

.component .sliders .range-slider input[type=range][orient=vertical]::-webkit-slider-thumb {
  left: -20px;
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.component .sliders svg {
  margin-top: 10px;
  z-index: 1;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 1.8;
}

.component .sliders svg .line {
  stroke: #5650B9;
}


/* Option boxes */
.presetBox {
  margin: 25px 0 25px 40px;
  border: 1px solid #000;
  background-color: #D9D9D9;
  width: 280px;
  height: 160px;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);  
}

.selectedPresetContainer {
  display: flex;
  flex-direction: row;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  background-color: #D9D9D9;
  border-bottom: 1px solid #00000065;
}

.optionIcon {
  margin-top: 5px;
  margin-right: 10px;
}

#arrowIcon {
  margin-top: 5px;
  margin-left: 120px;
}

#selectedPreset {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}

#optionSelect {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  width: 100%;
  height: 71%;
  border-radius: 0 0 15px 15px;
  border: none;
  background-color: #D9D9D9; 
  cursor: pointer;
}

#optionSelect option {
  font-weight: 800;
  padding-left: 10px;
  padding-top: 5px;
}

#optionSelect option:checked {
  background-color: #44444450;
  border-radius: 15px;
}

#optionSelect:focus {
  outline: none;
}

#optionSelect::-webkit-scrollbar {
  width: 5px;
}

#optionSelect::-webkit-scrollbar-track {
  background: #43434338;
  border-radius: 10px;
}

#optionSelect::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 10px;
}

#optionSelect::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.volumeConnectContainer {
  display: flex;
  flex-direction: row;
}

.volumeConnectContainer a {
  margin: 20px 0 0 70px;
  width: 220px;
  height: 60px;
  border-radius: 15px;  
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);  
  background-color: #4236CC;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: Bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.volumeConnectContainer a:hover {
  background-color: #7544c4;
  transition: 0.3s ease;
  cursor: pointer;
}

#testAudioIcon {
  margin-top: 5px;
  margin-left: 65px;
}

#testAudio {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
  margin-left: 5px;
}


/* Hide the original file input */
#audioFileInput {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Style the label to look like a file input */
label[for="audioFileInput"] {
  margin-top: 6px;
  margin-left: 80px;
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
}

.demoPlayer {
  display: flex;
  flex-direction: row;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  background-color: #D9D9D9;
  
}

/* Change the label appearance when a file is selected */
#audioFileInput:valid + label[for="audioFileInput"] {
  background-color: #666;
}

/* Style for the audio player */
#audioPlayer {
  margin-left: 15px;
  margin-top: 10px;
  width: 90%;
  height: 40px;
}

/* Volume Slider */
.volumeSlider {
  margin: 20px 0 0 20px; 
  width: 560px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-image: linear-gradient(to right, #6366AE, #9866AB);
}

.volumeSlider input[type=range] {
  width: 80%; 
  accent-color: #FFF;
  height: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.volumeSlider output {
  width: 30px;
  text-align: center;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

/* Connect page */
.connectQRContainer {
  display: flex;
  margin-left: 60px;
  width: 800px;
  height: 400px;
  background-color: #DFDEDE;
  border-radius: 40px;
}

.connectQRContainer img {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 40px;
  width: 300px;
  height: 300px;
}

.connectInstructions {
  margin-top: 50px;
}

.connectInstructions li {
  list-style-type: decimal;
  margin-left: 25px;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #6366AE;
}

/* Account Page */
.accountContainer {
  position: relative;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  border-radius: 0 0 30px 0;
  display: flex;
  flex-direction: column; 

}

.accountDetailsContainer {
  width: 100%;
  height: 250px;
  color: #FFF;
  background-image: linear-gradient(to left, #6366AE, #9866AB);
  border-radius: 0 0 30px 0;
}

#calibratorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#calibratorContainer h1 {
  font-family: 'Poppins', sans-serif;
  color: #6366AE;
  font-size: 40px;
  margin-bottom: 20px;
}

#calibratorContainer canvas {
  border: #8a8a8a59 solid 5px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.15);  
  border-radius: 30px;
}

#currentFrequency {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #6e6e6e;
  margin-top: 20px;
}

#startCalibration {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 16px;
  width: 240px;
  padding: 6px 40px;
  background: linear-gradient(to left, #9866AB, #6366AE);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

#startCalibration:hover {
  background: linear-gradient(to left, #6366AE, #6366AE);
}

#cancelCalibration {
  margin-top: 4px;
  font-family: 'Poppins', sans-serif;
  background: none;
  border: none;
  color: gray;
  font-size: 16px;
  cursor: pointer;
}